<p id="notice">
  <%= notice %>
</p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

<h4>コメント一覧</h4>
<%= render partial: "comments/form", locals: { comment: @comment, blog: @blog } %>

<div id="comments_area">
  <%= render partial: "comments/index", locals: { comments: @comments, blog: @blog } %>
</div>