<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>following:</strong>
  <%= @user.following.count %> |
  <% @user.following.each do |user| %>
    <span>
      <%= link_to user_path(user) do %>
        <%= user.name %>
      <% end %>
    </span>
  <% end %>
</p>

<p>
  <strong>follower:</strong>
  <%= @user.followers.count %>
  <% @user.followers.each do |user| %>
    <span>
      <%= link_to user_path(user) do %>
        <%= user.name %>
      <% end %>
    </span>
  <% end %>
</p>

<p>
  <%= render "follow_form", user: @user %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
